# Data handling
numpy
pandas

# Machine learning
scikit-learn

# Visualization
matplotlib
seaborn

# Web scraping
beautifulsoup4
requests

# CLI
typer

# Jupyter
jupyter
ipywidgets

# Testing
pytest

poetry